<div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <div class="form-signin" style="text-align: center;" autocomplete="off">
        <small class="text-danger" *ngIf="showSignupError">
            Account already exists for:
            <span class="text-black" style="font-weight: bold;">{{ userEmail }}</span>
        </small>
        <span id="reauth-email" class="reauth-email"></span>
        <div class="d-flex">
            <div>
                <input type="text" [(ngModel)]="user.firstName" class="form-control" placeholder="First Name" required>
            </div>
            <div style="padding-left: 0.5em;">
                <input type="text" [(ngModel)]="user.lastName" class="form-control" placeholder="Last Name" required>
            </div>
        </div>
        <input type="date" [(ngModel)]="user.date" class="form-control mb-2" placeholder="Birth Date" [max]="maxDate" required>
        <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="Email Address" required>
        <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" required
            autocomplete="off">
        <input type="password" id="confirmPassword" #confirmPassword name="confirmPassword" ngModel class="form-control"
            placeholder="Confirm Password" required>
        <small *ngIf="confirmPassword.value != user.password && (confirmPassword.value != '' && user.password != '')"
            class="p-0 m-0 text-danger" style="font-size: small;">
            <span class="material-symbols-outlined p-1" style="font-size: smaller;">
                cancel
            </span>passwords do not match</small>
        <small *ngIf="confirmPassword.value == user.password && user.password != ''" class="p-0 m-0 text-success"
            style="font-size: small;">
            <span class="material-symbols-outlined p-1" style="font-size: smaller;">
                check_circle
            </span>passwords match</small>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="registerUser()" [disabled]="user.email == '' || user.password == ''
            || user.firstName == '' || user.lastName == '' ||
            user.password !== confirmPassword.value || user.date == date">Sign up</button>
    </div>
    <a routerLink="/login" class="forgot-password">
        <p class="text-black p-0 m-0">Have an account?</p>Login here!
    </a>
</div>