.hover:hover {
    color: white;
}

li.active {
    background-color: black;
}

.friends {
    background-color: #5bc0de;
    color: white;
}

.friend-requests {
    background-color: #5bc0de;
    color: white;
}

.sent-requests {
    background-color: #5bc0de;
    color: white;
}