<app-navbar></app-navbar>
<div>
    <div class="container-fluid width-50 justify-content-center align-items-center bg-light">
        <h3 class="p-2 d-flex justify-content-center display-7 jumbotron-fluid">Friend Requests</h3>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="m-2 bg-white" *ngIf="requests.length == 0">
                <p>No Incoming Friend Requests.</p>
            </div>
            <div class="d-flex" *ngIf="requests.length > 0">
                <div class="m-2 bg-white" *ngFor="let request of requests;">
                    <button class="btn shadow-none border" style="width: 15em;">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img (click)="viewUser(request.requester)"
                                [src]="request.requester.profileImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : request.requester.profileImg"
                                class="img-shrink">
                            <p class="m-1" style="text-align: center;">{{ request.requester.firstName + ' ' +
                                request.requester.lastName }}</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn m-1 container-fluid share" (click)="acceptFriendRequest(request)">
                                <span class="material-symbols-outlined">
                                    check_circle
                                </span>
                            </button>
                            <button class="btn m-1 dislike container-fluid" (click)="declineFriendRequest(request)">
                                <span class="material-symbols-outlined">
                                    cancel
                                </span>
                            </button>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid width-50 justify-content-center align-items-center bg-light">
        <h3 class="p-2 d-flex justify-content-center display-7 jumbotron-fluid">Sent Requests</h3>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="m-2 bg-white" *ngIf="sentRequests.length == 0">
                <p>No Outgoing Friend Requests.</p>
            </div>
            <div class="d-flex" *ngIf="sentRequests.length > 0">
                <div class="m-2 bg-white" *ngFor="let sentRequest of sentRequests">
                    <button class="btn shadow-none border" style="width: 15em;">
                        <span style="position: relative; left: 50%; margin-bottom: -1em;"
                            class="text-info p-0 material-symbols-outlined" title="pending friend request">
                            pending
                        </span>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img (click)="viewUser(sentRequest.receiver)"
                                [src]="sentRequest.receiver.profileImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : sentRequest.receiver.profileImg"
                                class="img-shrink">
                            <p class="m-1" style="text-align: center;">{{ sentRequest.receiver.firstName + ' ' +
                                sentRequest.receiver.lastName }}</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn m-1 dislike container-fluid" (click)="deleteSentRequest(sentRequest)"
                                title="cancel friend request">
                                <span class="material-symbols-outlined">
                                    cancel
                                </span>
                            </button>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>