.landscape {
    max-height: 25em;
    min-height: 25em;
    box-shadow: 0.5px 0.5px 3px;
  }
  
  .modal-body {
    background-image: linear-gradient(#1250867b, #1250867b);
  }

  .add-friend {
    position: absolute; 
    top: 20%;
  }