$base-color: #5bc0de;
$secondary-color: black;
$like-color: #5cb85c;
$dislike-color: #d9534f;
$share-color: #5bc0de;

html, body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: whitesmoke;
    .material-symbols-rounded {
        font-size: xx-large;
        background-color: white;
    }

    .material-symbols-rounded:hover {
        transition: 0.2s;
        color: white;
        background-color: $base-color;
    }

    span.active {
        color: white;
        background-color: $base-color;
    }

    @media (min-width: 730px) {
        .show-search {
            display: block;
        }
        .hide-search {
          display: none;
        }
      }
    
    @media (max-width: 730px) {
        .show-search {
          display: none;
        }
        .hide-search {
            display: block;
        }
      }

      @media (min-width: 730px) {
        .width {
            width: 35em;
        }
      }

      .point:hover {
        cursor: pointer;
      }

      .like:hover {
        .material-symbols-outlined {
            color:white;
        }
        background-color: $like-color;
    }
    
    .dislike:hover {
        .material-symbols-outlined {
            color:white;
        }
        background-color: $dislike-color;
    }
    
    .share:hover {
        .material-symbols-outlined {
            color:white;
        }
        background-color: $share-color;
    }
}