$base-color: #5bc0de;
$secondary-color: #292b2c4e;
$like-color: #5cb85c;
$dislike-color: #d9534f;
$share-color: #5bc0de;
$comment-color: #0274d87b;

html,
body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: whitesmoke;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  textarea {}

  .btn {
    text-transform: none;
  }

  .material-symbols-rounded {
    font-size: xx-large;
    background-color: white;
  }

  .material-symbols-rounded:hover {
    transition: 0.2s;
    color: white;
    background-color: #0274d87b;
  }

  span.active {
    color: white;
    background-color: #0274d87b;
  }

  @media (max-width: 768px) {
    .show-search {
      display: none;
    }

    .show-logo {
      display: none;
    }

    .show-short-logo {
      display: block;
    }

    .img-shrink {
      border-radius: 50%;
      width: 6.5em;
      height: 6.5em;
    }

    .hide-search {
      display: block;
    }

    .profile-pic {
      position: absolute;
      top: 70%;
      overflow: hidden;
    }

    .profile-edit {
      top: 50%;
    }

    .friends-desktop {
      display: none;
    }

    .friends-mobile {
      display: block;
    }
  }

  @media (min-width: 500px) {
    .width-button {
      margin: 0.5em;
    }

    .width-picture {
      width: 15em;
    }
  }

  @media (max-width: 500px) {
    .width-button {
      margin: 0em;
      padding: 0.1em;
    }

    .width-picture {
      width: 10em;
    }
  }

  @media (min-width: 768px) {
    .show-search {
      display: block;
    }

    .show-logo {
      display: block;
    }

    .show-short-logo {
      display: none;
    }

    .img-shrink {
      border-radius: 50%;
      width: 8em;
      height: 8em;
    }

    .hide-search {
      display: none;
    }

    .width {
      width: 35em;
    }

    .profile-pic {
      position: absolute;
      top: 75%;
      overflow: hidden;
    }

    .friends-mobile {
      display: none;
    }

    .friends-desktop {
      display: block;
    }

    .profile-edit {
      top: 55%;
    }

    .background-pic-edit {
      position: absolute;
      top: 20%;
      overflow: hidden;
      margin: 1em;
    }
  }

  @media (min-width: 992px) {
    .profile-content {
      display: flex;
      flex-wrap: nowrap;
    }

    .width-profile {
      margin-left: 1em;
      width: 70%;
    }
  }

  @media (max-width: 992px) {
    .profile-content {
      display: flex;
      flex-wrap: wrap;
    }

    .width-profile {
      width: 100%;
      margin: 1em;
    }

    .background-pic-edit {
      position: absolute;
      top: 30%;
    }
  }

  .like {
    color: $like-color;
  }

  .dislike {
    color: $dislike-color;
  }

  .comment {
    color: $comment-color;
  }

  .share {
    color: $share-color;
  }

  .point:hover {
    cursor: pointer;
  }

  .like:hover {
    .material-symbols-outlined {
      color: white;
    }

    background-color: $like-color;
  }

  .dislike:hover {
    .material-symbols-outlined {
      color: white;
    }

    background-color: $dislike-color;
  }

  .dislike-pressed {
    .material-symbols-outlined {
      color: white;
    }

    border: 0.5px solid lightgray;
    background-color: $dislike-color;
  }

  .like-pressed {
    .material-symbols-outlined {
      color: white;
    }

    border: 0.5px solid lightgray;
    background-color: $like-color;
  }

  .share:hover {
    .material-symbols-outlined {
      color: white;
    }

    background-color: $share-color;
  }

  .comment-selected {
    background-color: $comment-color;
    color: white;
  }

  .comment:hover {
    .material-symbols-outlined {
      color: white;
    }

    background-color: $comment-color;
  }


}