<div class="sticky-top navbar nav bg-light p-0 m-0 flex-wrap">
    <div class="container-fluid p-0 m-0 flex-nowrap">
        <ul class="nav d-flex flex-nowrap">
            <li class="nav-item rounded" style="margin-left: -0.2em;">
                <a class="navbar-brand p-3 m-0 text-black rounded show-logo" style="background-color: #1250867b"
                    routerLink="/home">Town<span class="text-white">Square</span></a>
                    <a class="navbar-brand p-3 m-0 text-black rounded show-short-logo" style="background-color: #1250867b"
                    routerLink="/home">Town<span class="text-white"><sup class="p-1" style="border-radius: 50%;">2</sup></span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/home" class="nav-link">
                    <span class="material-symbols-rounded btn h-100 d-flex align-items-center p-2"
                        routerLinkActive="active">
                        home
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/friend-requests" class="nav-link">
                    <span class="material-symbols-rounded btn h-100 d-flex align-items-center p-2"
                        routerLinkActive="active">
                        group
                    </span>
                </a>
            </li>
        </ul>
        <ul class="nav align-items-center flex-nowrap show-search w-100">
            <li class="nav-item d-flex">
                <button class="m-0 p-0 btn" (click)="searchUser(searchWord)" [disabled]="!(searchWord.trim() != '')">
                    <span class="material-symbols-outlined btn h-100 d-flex align-items-center"
                        style="padding: 0em 1em 0em 1em;">
                        person_search
                    </span>
                </button>
                <div class="ng-autocomplete w-100">
                    <ng-autocomplete [data]="searchWord.trim() == '' ? [] : userNames" [searchKeyword]="keyword"
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                        placeholder="Explore the community." (selected)="selectEvent($event)"
                        (inputChanged)="updateSearchWord($event)"
                        (keyup.enter)="searchWord.trim() == '' ? null : searchUser(searchWord)">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <div class="d-flex justify-content-start align-items-center">
                            <img routerLink="/profile"
                                [src]="item.profileImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : item.profileImg"
                                alt="" style="border-radius: 50%; width: 3em; height: 3em; margin-left: 1em;">
                            <a [innerHTML]="item.firstName"></a>
                        </div>
                    </ng-template>
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </li>
        </ul>
        <ul class="nav flex-wrap">
            <li class="nav-item" style="margin-left: 1em;">
                <button class="btn btn-rounded material-symbols-rounded p-0">
                    <img routerLink="/profile"
                        [src]="userImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : userImg" alt=""
                        style="border-radius: 50%; width: 1.5em; height: 1.5em;">
                </button>
            </li>
        </ul>
        <a class="nav-link" (click)="logout()">
            <span class="material-symbols-rounded btn p-2">
                logout
            </span>
        </a>
    </div>
    <ul class="nav align-items-center flex-nowrap hide-search w-100">
        <li class="nav-item d-flex">
            <button class="m-0 btn" style="padding: 0em 2em 0em 2em;" (click)="searchUser(searchWord)"
                [disabled]="!(searchWord.trim() != '')">
                <span class="material-symbols-outlined d-flex align-items-center">
                    person_search
                </span>
            </button>
            <div class="ng-autocomplete w-100">
                <ng-autocomplete [data]="searchWord.trim() == '' ? [] : userNames" [searchKeyword]="keyword"
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                    placeholder="Explore the community." (selected)="selectEvent($event)"
                    (inputChanged)="updateSearchWord($event)"
                    (keyup.enter)="searchWord.trim() == '' ? null : searchUser(searchWord)">
                </ng-autocomplete>
                <ng-template #itemTemplate2 let-item>
                    <div class="d-flex justify-content-start align-items-center">
                        <img routerLink="/profile"
                            [src]="item.profileImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : item.profileImg"
                            alt="" style="border-radius: 50%; width: 3em; height: 3em; margin-left: 1em;">
                        <a [innerHTML]="item.firstName"></a>
                    </div>
                </ng-template>
                <ng-template #notFoundTemplate2 let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </li>
    </ul>
</div>