<div class="sticky-top nav navbar bg-light p-0 m-0 flex-wrap">
    <div class="container-fluid p-0 flex-nowrap">
        <ul class="nav d-flex flex-nowrap">
            <li class="nav-item rounded" style="margin-left: -0.2em;">
                <a class="navbar-brand p-3 m-0 text-black rounded" style="background-color: #1250867b"
                    routerLink="/home">Town<span class="text-white">Square</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/home" class="nav-link">
                    <span class="material-symbols-rounded btn h-100 d-flex align-items-center p-2"
                        routerLinkActive="active">
                        home
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/friend-requests" class="nav-link">
                    <span class="material-symbols-rounded btn h-100 d-flex align-items-center p-2"
                    routerLinkActive="active">
                        group
                    </span>
                </a>
            </li>
        </ul>
        <li class="nav-item p-2 w-100 show-search">
            <div class="input-group btn-rounded">
                <div class="input-group-prepend bg-white">
                    <button class="p-0 m-0 btn" style="border-right: 1px solid black;" (click)="searchUser(input.value)"
                    [disabled]="!(input.value.trim() != '')">
                        <span class="input-group-text border-0 shadow p-0 bg-white">
                            <span class="material-symbols-rounded h-100 d-flex align-items-center p-2 rounded">
                                person_search
                            </span>
                        </span>
                    </button>
                </div>
                <input class="form-control shadow-none bg-white p-2" placeholder="Explore the community." list="users"
                    name="users" (keyup.enter)="searchUser(input.value); input.value = ''" #input ngModel>
                <datalist id="users">
                    <option *ngFor="let user of users" [value]="user.firstName + ' ' + user.lastName">
                    </option>
                </datalist>
            </div>
        </li>
        <ul class="nav flex-wrap">
            <li class="nav-item">
                <button class="btn btn-rounded material-symbols-rounded p-0">
                    <img routerLink="/profile"
                        [src]="userImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : userImg" alt=""
                        style="border-radius: 50%; width: 1.5em; height: 1.5em;">
                </button>
            </li>
        </ul>
        <a class="nav-link" (click)="logout()">
            <span class="material-symbols-rounded btn p-2">
                logout
            </span>
        </a>
    </div>
    <ul class="nav align-items-center flex-nowrap hide-search w-100">
        <li class="nav-item p-2">
            <div class="input-group bg-white btn-rounded">
                <div class="input-group-prepend">
                    <button autofocus class="p-0 m-0 btn" style="border-right: 1px solid black;" (click)="searchUser(input.value)"
                    [disabled]="!(input2.value.trim() != '')">
                        <span class=" input-group-text border-0 shadow p-0 bg-white">
                            <span class="material-symbols-rounded h-100 d-flex align-items-center p-2 rounded">
                                person_search
                            </span>
                        </span>
                    </button>
                </div>
                <input class="form-control shadow-none bg-white p-2" placeholder="Explore the community." list="users"
                    name="users" (keyup.enter)="searchUser(input2.value); input2.value = ''" #input2 ngModel>
                <datalist id="users">
                    <option *ngFor="let user of users | slice:0:5;" [value]="user.firstName + ' ' + user.lastName">
                    </option>
                </datalist>
            </div>
        </li>
    </ul>
</div>