<div *ngIf="url == '/home'" class="sticky-top">
    <app-navbar></app-navbar>
</div>

<div class="container-fluid bg-white main" [ngClass]="{'width': url == '/home'}"
    style="margin-top: 1em; margin-bottom: 5em;">
    <br>
    <div class="container-fluid p-2 border bg-light" style="box-shadow: 0px 0px 10px lightgray; margin-bottom: 1em;"
        *ngIf="url == '/profile' || url == '/home'">
        <div class="d-flex align-items-center justify-content-center flex-nowrap">
            <div class="w-25 m-2 d-flex justify-content-center">
                <img routerLink="/profile"
                    [src]="currentUser == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : currentUser.profileImg"
                    class="point img-shrink">
            </div>
            <div class="container-fluid">
                <textarea class="form-control form-control-sm" style="height: 8em;" placeholder="Share your thoughts."
                    [(ngModel)]="post.description"></textarea>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-nowrap">
            <div class="container-fluid">
                <textarea hidden type="text" class="form-control" id="imageuri3" required name="imageuri3"
                    [(ngModel)]="post.imageUrl"></textarea>
                <button class="btn btn-info d-flex flex-col p-1 m-1 align-items-center justify-content-center w-100"
                    onclick="openWidget('imageuri3', null)" id="upload_widget">
                    <span class="material-symbols-outlined p-1">
                        photo_camera
                    </span>
                    OR
                    <span class="material-symbols-outlined p-1">
                        video_camera_front
                    </span>
                </button>
            </div>
            <div class="container-fluid">
                <button class="btn btn-success w-100 m-1" (click)="showSave = true; addPost();"
                    [disabled]="!post.description.trim()">POST</button>
                <button class="btn btn-success rounded sticky-top m-1 d-flex align-items-center justify-content-center"
                    style="float: right;" [ngClass]="{'showSave': showSave, 'hideSave': !showSave}">
                    Posted!
                    <span class="material-symbols-outlined p-1" style="font-size: 30px;">
                        check
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="false">
        <button class="btn btn-muted form-select" (click)="displayChat = !displayChat" style="font-weight: bold;">
            {{ displayChat ? 'Close Chat' : 'Open Chat'}}
        </button>
        <div *ngIf="displayChat" class="d-flex flex-column container-fluid border p-0 m-0 bg-light">
            <div style="min-height: 30em; max-height: 30em;">
                <div *ngFor="let message of messageList" style="overflow-anchor: auto;">
                    <div *ngIf="message.id == userId" class="d-flex flex-nowrap imessage container-lg bg-light">
                        <p style="text-align: right;" class="from-me m-0">
                            {{ message.message }}
                            <img routerLink="/profile"
                                [src]="currentUser == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : currentUser.profileImg"
                                style="border-radius: 50%; width: 1.5em; height: 1.5em; margin-left: -90%; margin-top: 1em; position: absolute;">
                        </p>
                    </div>
                    <div *ngIf="message.id != userId && message.message" class="d-flex flex-nowrap imessage container-lg bg-light">
                        <p style="text-align: left;" class="from-them m-0">
                            {{ message.message }}
                            <img routerLink="/profile"
                                [src]=" message.profileImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : message.profileImg"
                                style="border-radius: 50%; width: 1.5em; height: 1.5em; margin-right: -90%; margin-top: 1em; position: absolute;">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="d-flex flex-column justify-content-center align-items-center" style="font-size: small; font-weight: bold;"
        *ngIf="posts.length == 0">Not much going on
        <span class="material-symbols-outlined p-1 text-info" style="font-size: 50px;">
            cabin
        </span>
    </p>
    <div class="container-fluid p-1 btn border bg-muted d-flex flex-column"
        style="box-shadow: 0px 0px 10px lightgray; margin-top: 1em; margin-bottom: 1em; width: 90%;"
        *ngFor="let post of posts | slice:0:scrollCount;">
        <div class="d-flex p-1 m-0" style="border-bottom: 1px solid lightgray;">
            <div class="d-flex justify-content-center">
                <img [src]="post.user.profileImg" style="border-radius: 50%; width: 6em; height: 6em;" class="point"
                    (click)="viewUser(post)">
            </div>
            <div class="container-fluid" style="text-align: left; padding-left: 1em;">
                <div>
                    <a class="hover-a text-dark" (click)="viewUser(post)">{{ post.user.firstName + " " +
                        post.user.lastName }}
                        <br>{{ formatDate(post.date) }}</a>
                </div>
            </div>
            <button class="btn dislike p-0 m-0 rounded shadow-none" style="width: 5em; height: 5em;"
                *ngIf="showDeleteButton" (click)="!(post.imageUrl.endsWith('.webp')) && !(post.imageUrl.endsWith('.gif')) &&
                !(post.imageUrl.endsWith('.jpeg')) && !(post.imageUrl.endsWith('.png')) && !(post.imageUrl.endsWith('.jpg'))
                && post.imageUrl.trim() != ''
                ? showModal(galleryVideo) : showModal(galleryPicture)">
                <span class="material-symbols-outlined">
                    delete
                </span>
                <!-- ShowPictureGallery -->
                <ng-template #galleryPicture let-modal>
                    <img [src]="post.imageUrl">
                    <div class="d-flex flex-nowrap">
                        <button class="btn btn-danger container-fluid m-1"
                            (click)="modal.dismiss(); deletePost(post)">Delete Post</button>
                        <button class="btn btn-secondary container-fluid m-1" (click)="modal.dismiss()">Cancel</button>
                    </div>
                </ng-template>

                <!-- ShowVideoGallery -->
                <ng-template #galleryVideo let-modal>
                    <video controls [src]="post.imageUrl" *ngIf="post.imageUrl.trim() != ''">
                    </video>
                    <div class="d-flex flex-nowrap">
                        <button class="btn btn-danger container-fluid m-1"
                            (click)="modal.dismiss(); deletePost(post)">Delete Post</button>
                        <button class="btn btn-secondary container-fluid m-1" (click)="modal.dismiss()">Cancel</button>
                    </div>
                </ng-template>
            </button>
        </div>
        <div class="row" style="text-align: left; padding: 0.5em 0em 0.5em 2em;">
            <div class="col-12">
                <p>{{ post.description }}</p>
            </div>
        </div>
        <div class="row">
            <div [hidden]="post.imageUrl.trim() == ''">
                <div class="col-12"
                    [hidden]="!(post.imageUrl.endsWith('.webp')) && !(post.imageUrl.endsWith('.gif')) &&
                    !(post.imageUrl.endsWith('.jpeg')) && !(post.imageUrl.endsWith('.png')) && !(post.imageUrl.endsWith('.jpg'))">
                    <img [src]="post.imageUrl" style="width: 100%;">
                </div>
                <div class="col-12"
                    [hidden]="!(post.imageUrl.endsWith('.mov')) && !(post.imageUrl.endsWith('.webm')) && !(post.imageUrl.endsWith('.mp4'))">
                    <video controls class="w-100" [src]="post.imageUrl">
                    </video>
                </div>
            </div>
            <a class="container-fluid d-flex justify-content-end" style="text-decoration: none; cursor:default;">
                <div class="tilt-hover">
                    <span class="material-symbols-outlined text-success p-1 tilt" style="font-size: medium;">
                        thumb_up
                    </span>{{ post.likes }}
                </div>
                <div class="tilt-hover">
                    <span class="material-symbols-outlined text-primary p-1 tilt" style="font-size: medium;">
                        comment
                    </span>{{ getCommentsCount(post.postId) }}
                </div>
                <div class="tilt-hover">
                    <span class="material-symbols-outlined text-info p-1 tilt" style="font-size: medium;">
                        share
                    </span>{{ post.shares }}
                </div>
            </a>
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center border-top"
            style="margin: 0.2em 0em 0em 0em;">
            <div class="container-fluid p-1 m-0">
                <button class="container-fluid btn comment tilt-hover" (click)="displayCommentBox(post)"
                    [ngClass]="{'comment-selected': post.showCommentBox}">
                    <span class="material-symbols-outlined tilt">
                        comment
                    </span>
                </button>
            </div>
            <div class="container-fluid p-1 m-0">
                <button class="container-fluid btn like tilt-hover"
                    (click)="post.isLiked = !post.isLiked; updatePost(post, $event)"
                    [ngClass]="{'like-pressed': post.isLiked}" value="like">
                    <span class="material-symbols-outlined tilt">
                        thumb_up
                    </span>
                </button>
            </div>
            <div class="container-fluid p-1 m-0">
                <button class="container-fluid btn share tilt-hover">
                    <span class="material-symbols-outlined tilt">
                        share
                    </span>
                </button>
            </div>
        </div>
        <div class="container-fluid d-flex flex-nowrap align-items-center">
            <textarea class="container-fluid form-control form-control-sm"
                [ngClass]="{'show-comment-box':post.showCommentBox, 'hide-comment-box': !post.showCommentBox}"
                [placeholder]='"Comment on " + post.user.firstName + "&#39;"+"s post!"'
                [(ngModel)]="comment"></textarea>
            <button class="btn share m-1" (click)="postComment(post, comment)"
                [ngClass]="{'show-comment-box':post.showCommentBox, 'hide-comment-box': !post.showCommentBox}"
                [disabled]="!comment.trim()" (click)="comment = ''; changeIcon()">
                <span class="material-symbols-outlined">
                    {{ sendIcon }}
                </span>
            </button>
            <b *ngIf="sendIcon == 'check'" class="text-success p-0 m-0 nav-link">Sent!</b>
        </div>
        <a class="nav-link p-1" (click)="displayComments(post)" *ngIf="post.showComments">
            <div class="d-flex justify-content-end">
                <p class="p-1">Hide Comments</p>
                <span class="material-symbols-outlined">
                    arrow_drop_up
                </span>
            </div>

        </a>
        <a class="nav-link p-1" (click)="displayComments(post)" *ngIf="!post.showComments">
            <div class="d-flex justify-content-end text-primary">
                <p class="p-1">Show Comments</p>
                <span class="material-symbols-outlined">
                    arrow_drop_down
                </span>
            </div>
        </a>
        <button class="container-fluid btn"
            [ngClass]="{'show-slider': post.showComments, 'hide-slider': !post.showComments}">
            <div class="btn shadow-none bg-light container-fluid p-0 border rounded" style="margin: 1em 1em 0em 0em;"
                *ngFor="let comment of getCommentsByPost(post.postId)">
                <div class="d-flex p-1 m-0">
                    <div class="d-flex justify-content-center">
                        <img [src]="comment.user.profileImg" style="border-radius: 50%; width: 4em; height: 4em;"
                            class="point" (click)="viewUser(comment)">
                    </div>
                    <div class="container-fluid p-0 m-0" style="text-align: left;">
                        <a class="nav-link" style="padding-left: 1em;" (click)="viewUser(comment)">{{
                            comment.user.firstName + " " +
                            comment.user.lastName }}
                            <br>{{ formatDate(comment.commentDate) }}</a>
                    </div>
                    <a class="container-fluid align-items-start"
                        style="text-align: right; text-decoration: none; cursor:default;">
                        <span class="material-symbols-outlined text-success p-1" style="font-size: medium;">
                            thumb_up
                        </span>{{ comment.likes }}
                    </a>
                </div>
                <div class="row p-2">
                    <div class="col-10" style="text-align: left; overflow-wrap:break-word;">
                        <p>{{ comment.comment }}</p>
                    </div>
                    <div>
                        <button class="btn like tilt-hover"
                            (click)="comment.isLiked = !comment.isLiked; updateComment(comment, $event)"
                            [ngClass]="{'like-pressed': comment.isLiked}" value="like">
                            <span class="material-symbols-outlined tilt">
                                thumb_up
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </button>
    </div>
</div>