a {
    font-size: smaller;
    color: black;
    font-weight: bold;
}

.hover-a:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.btn:hover {
    cursor: default;
}

.hideSave {
    // top: 50%;
    height: 0em;
    position: fixed;
    z-index: -999;
}

.showSave {
    transition: 0.5s;
    position: fixed;
    left: 68%;
    top: 11%;
    z-index: 999;
}

.tilt-hover:hover {
    .tilt {
        transition: 0.5s;
        transform: rotate(-0.05turn);
    }
}

.hide-comment-box {
    height: 0em;
    position: fixed;
    z-index: -999;

}

.show-comment-box {
    transition: 0.3s;
    height: 4em;
}

.show-slider {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
    overflow-x: hidden;
}

.hide-slider {
    max-height: 0;
    position: fixed;
    z-index: -999;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}