.material-symbols-outlined {
    font-size: 30px;
}

span {
    font-weight: bold;
}

// a.btn:hover {
//     color: white;
//     background: lightgray;
// }

.friend-hover:hover {
    transition: 0.3s;
    // color: white;
    background-color: rgb(226, 222, 222);
}

.hover:hover {
    transition: 0.3s;
    background-color: lightgray;
}

.hideSave {
    top: 50%;
    height: 0em;
    position: fixed;
    z-index: -999;
}

.showSave {
    transition: 0.5s;

}
