<div class="bg-light shadow" style="margin-bottom: 1em;">
    <!-- <p class="p-2 m-2">{{ user.profileBio }}</p> -->
    <div class="profile-content">
        <div class="width-profile m-2">
            <div class="">
                <div class="container-fluid btn shadow-sm border p-0" style="cursor: default;">
                    <div style="text-align: left;">
                        <h5 class="bg-white p-2 border">Info</h5>
                        <div>
                            <div class="d-flex align-items-center p-2">
                                <span class="material-symbols-outlined text-info" style="padding-right: 0.5em;">
                                    account_circle
                                </span>
                                <p class="p-0 m-0">Name is <span>{{ user.firstName + ' ' + user.lastName }}</span></p>
                            </div>
                            <div class="d-flex align-items-center p-2">
                                <span class="material-symbols-outlined text-warning" style="padding-right: 0.5em;">
                                    cake
                                </span>
                                <p class="p-0 m-0">Birthday on <span>{{ formatDate(user.birthDate) }}</span></p>
                            </div>
                            <div class="d-flex align-items-center p-2" *ngFor="let address of addresses;">
                                <span class="material-symbols-outlined text-primary" style="padding-right: 0.5em;">
                                    house
                                </span>
                                <p class="p-0 m-0" *ngIf="address.city != ''">Lives in <span>{{ address.city + ", " + address.state }}</span></p>
                                <p class="p-0 m-0" *ngIf="address.city == ''">Lives in <span>{{ address.state }}</span></p>
                            </div>
                            <div class="d-flex align-items-center p-2" *ngIf="user.birthplace.trim() != ''">
                                <span class="material-symbols-outlined text-secondary" style="padding-right: 0.5em;">
                                    child_care
                                </span>
                                <p class="p-0 m-0">Born in <span>{{ user.birthplace }}</span></p>
                            </div>
                            <div class="d-flex align-items-center p-2" *ngFor="let work of workplaces;">
                                <span class="material-symbols-outlined text-success" style="padding-right: 0.5em;">
                                    business_center
                                </span>
                                <p class="p-0 m-0">Works at <span>{{ work.company }}</span> as a <span>{{ work.position }}</span></p>
                            </div>
                            <div *ngFor="let education of educations">
                                <div class="d-flex align-items-center p-2">
                                    <div class="d-flex align-items-center" *ngIf="!education.graduated">
                                        <span class="material-symbols-outlined text-success"
                                            style="padding-right: 0.5em;">
                                            school
                                        </span>
                                        <p class="p-0 m-0">
                                            Studies at <span>{{ education.school }}</span>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="education.graduated">
                                        <span class="material-symbols-outlined text-secondary"
                                            style="padding-right: 0.5em;">
                                            demography
                                        </span>
                                        <p class="p-0 m-0">
                                            Went to <span>{{ education.school }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a class="nav-link btn m-2" style="float: right" *ngIf="url == '/profile'"
                                (click)="updateProfileModal(profile)">Edit Info</a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid btn shadow-sm border p-0" style="cursor: default; margin-top: 2em;">
                    <div style="text-align: left;">
                        <h5 class="bg-white p-2 border">Friends</h5>
                        <p class="d-flex flex-column justify-content-center align-items-center"
                            style="font-weight: bold; font-size: small;" *ngIf="friends.length == 0">
                            <span class="material-symbols-outlined text-info p-1" style="font-size: 30px;">
                                person_pin
                            </span>
                            No friends so far
                        </p>
                        <div class="d-flex flex-wrap justify-content-center align-items-center m-0 p-0">
                            <div class="p-2 rounded friend-hover d-flex flex-column justify-content-center align-items-center"
                                *ngFor="let friend of friends;" style="cursor: pointer;">
                                <img [src]="friend.friend.profileImg == null ? 'https://wallpaperaccess.com/full/1556621.jpg' : friend.friend.profileImg"
                                    class="border img-shrink" style="border-radius: 10%;">
                                <p class="card-text" style="font-weight: bold;">{{ friend.friend.firstName + ' ' +
                                    friend.friend.lastName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid btn shadow-sm border p-0 m-2" style="text-align: left;">
            <h5 class="bg-white p-2 border">Posts</h5>
            <app-post-board></app-post-board>
        </div>
    </div>
</div>
<!-- Edit Profile Modal -->
<ng-template #profile let-modal>
    <div class="modal-body p-0 m-0 bg-light">
        <h5 class="bg-white p-2 border rounded container-fluid shadow" style="text-align: center;">Info</h5>
        <div class="m-3">
            <label style="font-weight: bold;">First Name</label>
            <input type="text" class="form-control m-1" #firstName [value]="user.firstName" placeholder="firstname">
            <label style="font-weight: bold;">Last Name</label>
            <input type="text" class="form-control m-1" #lastName [value]="user.lastName" placeholder="lastname">
            <label style="font-weight: bold;">Birth Date</label>
            <input type="date" class="form-control m-1" #birthDate [value]="user.birthDate" placeholer="Birth Date"
            [max]="maxDate">
            <label style="font-weight: bold;">Born In</label>
            <select class="form-select m-1" #country (change)="filterStates(country.value)">
                <option [selected]="country.value == ''" hidden>Select Country</option>
                <option *ngFor="let country of countries;" [value]="country.isoCode">{{ country.name }}</option>
            </select>
            <div class="d-flex m-1 flex-nowrap">
                <select class="form-select m-1 container-fluid" #state (change)="filterCity(state.value, country.value)"
                    [hidden]="states.length == 0 && country.value.trim() != ''" [disabled]="states.length == 0">
                    <option [selected]="states.length == 0" disabled>State</option>
                    <option *ngFor="let state of states;" [value]="state.isoCode">{{ state.name }}</option>
                </select>
                <select class="form-select m-1 container-fluid" #city [disabled]="cities.length == 0"
                    [hidden]="states.length == 0 && country.value.trim() != ''">
                    <option [selected]="cities.length == 0" disabled>City</option>
                    <option *ngFor="let city of cities;" [value]="city.name">{{ city.name }}</option>
                </select>
            </div>
        </div>
        <h5 class="bg-white p-2 border rounded container-fluid shadow" style="text-align: center;">Location / Work</h5>
        <div class="m-3">
            <label style="font-weight: bold;">Residence</label>
            <select class="form-select m-1" #currentCountry (change)="filterCurrentStates(currentCountry.value)">
                <option [selected]="country.value == ''" hidden>Select Country</option>
                <option *ngFor="let country of currentCountries;" [value]="country.isoCode">{{ country.name }}</option>
            </select>
            <div class="d-flex m-1 flex-nowrap">
                <select class="form-select m-1 container-fluid" #currentState
                    (change)="filterCurrentCity(currentState.value, currentCountry.value)"
                    [hidden]="currentStates.length == 0 && currentCountry.value.trim() != ''"
                    [disabled]="currentStates.length == 0">
                    <option [selected]="currentStates.length == 0" disabled>State</option>
                    <option *ngFor="let state of currentStates;" [value]="state.isoCode">{{ state.name }}</option>
                </select>
                <select class="form-select m-1 container-fluid" #currentCity [disabled]="currentCities.length == 0"
                    [hidden]="currentStates.length == 0 && currentCountry.value.trim() != ''">
                    <option [selected]="currentCities.length == 0" disabled>City</option>
                    <option *ngFor="let city of currentCities;" [value]="city.name">{{ city.name }}</option>
                </select>
            </div>
            <label style="font-weight: bold;">Current Job Site</label>
            <input type="text" class="form-control m-1" #company placeholder="Company">
            <div class="d-flex m-1 flex-nowrap">
                <select class="form-select m-1 container-fluid" #jobCity [disabled]="currentCities.length == 0"
                    [hidden]="currentStates.length == 0 && currentCountry.value.trim() != ''">
                    <option [selected]="currentCities.length == 0" disabled>City</option>
                    <option *ngFor="let city of currentCities;" [value]="city.name">{{ city.name }}</option>
                </select>
                <input type="text" class="form-control m-1" #role placeholder="Role">
            </div>
        </div>
        <div class="container-fluid d-flex flex-nowrap p-1">
            <button class="btn btn-success w-100 m-1" (click)="updateUser(firstName.value, lastName.value, birthDate.value, state.value, city.value, 
            currentState.value, currentCity.value, company.value, jobCity.value, role.value, currentCountry.value); modal.dismiss()" 
            [disabled]="firstName.value.trim() == '' || lastName.value.trim() == '' || birthDate.value == '' ||
            currentCountry.value == 'Select Country' || country.value == 'Select Country'">Save</button>
            <button type="button" class="btn btn-light w-100 m-1 border" (click)="modal.dismiss()">Cancel</button>
        </div>
    </div>
</ng-template>