<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <span id="reauth-email" class="reauth-email"></span>
            <p *ngIf="showLoginError" class="container-fluid text-danger p-0 m-0" style="font-size: small;">Incorrect
                username and/or password</p>
            <input type="email" id="username" name="username" ngModel class="form-control" placeholder="Email address"
                required>
            <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password"
                required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
                [disabled]="loginForm.value.username == '' || loginForm.value.password == ''">Sign in</button>
        </form>
        <a routerLink="/password-reset" class="forgot-password">
            <p class="text-black p-0 m-0">Forgot your password?</p>Change password.
        </a>
        <a routerLink="/signup" class="forgot-password">
            <p class="text-black p-0 m-0">Dont't have an account?</p>Sign up here!
        </a>
    </div>
</div>