<div class="card card-container" *ngIf="!showPasswordReset">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <div class="form-signin" style="text-align: center;" autocomplete="off">
        <small class="text-danger" *ngIf="showResetError">
            Verification Unsuccessful
        </small>
        <span id="reauth-email" class="reauth-email"></span>
        <div class="d-flex">
            <div>
                <input type="text" [(ngModel)]="user.firstName" class="form-control" placeholder="First Name" required>
            </div>
            <div style="padding-left: 0.5em;">
                <input type="text" [(ngModel)]="user.lastName" class="form-control" placeholder="Last Name" required>
            </div>
        </div>
        <div class="d-flex justify-content-space-evenly align-items-center">
            <div class="d-flex container-fluid justify-content-space-evenly align-items-center"
                style="margin-bottom: 0.5em;">
                <span class="material-symbols-outlined text-warning p-1" style="font-weight: bold;">
                    cake
                </span>
                <input type="date" [(ngModel)]="user.birthDate" class="form-control" placeholder="mm/dd/yyyy"
                    [max]="maxDate" required>
            </div>
        </div>
        <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="Email Address" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="verifyUser()" [disabled]="user.email.trim() == ''
            || user.firstName.trim() == '' || user.lastName.trim() == '' || user.birthDate == date">Verify
            Info</button>
    </div>
    <a routerLink="/login" class="forgot-password">
        <div class="d-flex m-1">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
            <p>Go Back</p>
        </div>

    </a>
</div>

<div class="card card-container" *ngIf="showPasswordReset">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <div class="form-signin" style="text-align: center;" autocomplete="off">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="password" id="password" name="password" #password ngModel class="form-control"
            placeholder="Password" required autocomplete="off">
        <input type="password" id="confirmPassword" #confirmPassword name="confirmPassword" ngModel class="form-control"
            placeholder="Confirm Password" required autocomplete="off">
        <small *ngIf="confirmPassword.value != password.value && (confirmPassword.value != '' && password.value != '')"
            class="p-0 m-1 text-danger" style="font-size: small;">
            <span class="material-symbols-outlined p-1" style="font-size: smaller;">
                cancel
            </span>passwords do not match</small>
        <small *ngIf="showSuccessMessage" class="d-flex flex-column p-0 m-1 text-success" style="font-size: small;">
            <span class="material-symbols-outlined p-1" style="font-size: large;">
                check
            </span>
            <small class="">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Redirecting...
            </small>
        </small>
        <small *ngIf="confirmPassword.value == password.value && password.value != ''" class="p-0 m-1 text-success"
            style="font-size: small;">
            <span class="material-symbols-outlined p-1" style="font-size: smaller;">
                check_circle
            </span>passwords match</small>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="resetPassword(password.value)"
            [disabled]="password.value.trim() != confirmPassword.value.trim() || (password.value.trim() == '' || confirmPassword.value.trim() == '')
            || showSuccessMessage">Reset
            Password</button>
    </div>
    <a routerLink="/login" class="forgot-password">
        <p class="text-black p-0 m-0">Remembered Your Password?</p>Login here!
    </a>
</div>