<app-navbar></app-navbar>
<div class="container-fluid p-0 m-0"
    style="position: relative;  background-image: linear-gradient(#1250867b, whitesmoke);">
    <img class="container-lg landscape img-fluid rounded mx-auto d-block p-0 m-0"
        [src]="userProfile.backgroundImg.trim() == '' ? '' : userProfile.backgroundImg">
    <div class="container-fluid p-0 m-0 profile-pic">
        <div class="container">
            <textarea hidden type="text" class="form-control" id="imageuri" required name="imageuri"
                [(ngModel)]="userProfile.backgroundImg"></textarea>
            <div class="container-sm background-pic-edit">
                <span class="material-symbols-rounded btn btn-sm btn-light btn-rounded p-2 comment"
                    (click)="updatePictureModal(background)" style="float: right;">
                    edit
                </span>
            </div>
        </div>
        <div class="container-lg">
            <img routerLink="/profile" [src]="userProfile.profileImg" alt=""
                style="border-radius: 50%; width: 7em; height: 7em;"
                class="img-fluid border border-4 material-symbols-rounded">
            <div class="container-lg profile-edit" style="position: absolute; margin-bottom: 2em;">
                <div class="friends-desktop">
                    <div class="d-flex" style="margin-left: 20em; margin-bottom: -3em;"
                        [ngStyle]="{'margin-top': friends.length == 0 ? '5em' : '-0.5em'}">
                        <div *ngFor="let friend of friends | slice:0:5;">
                            <button class="btn btn-rounded p-0" style="margin-left: -2.5em;"
                                [title]="friend.friend.firstName + ' ' + friend.friend.lastName">
                                <img (click)="userProfileRedirect(friend)"
                                    [src]="friend.friend.profileImg == '' ? '' : friend.friend.profileImg"
                                    style="border-radius: 50%; width: 7em; height: 7em;">
                            </button>
                        </div>
                        <button class="btn btn-rounded p-0" style="margin-left: -2.5em;" *ngIf="friends.length > 5">
                            <button routerLink="/friend-requests"
                                style="border-radius: 50%; width: 6em; height: 6em; font-weight: bolder; font-size: larger;"
                                class="border border-none bg-light text-secondary">
                                + {{ friends.length - 5 }}
                            </button>
                        </button>
                    </div>
                </div>
                <textarea hidden type="text" class="form-control" id="imageuri2" required name="imageuri2"
                    [(ngModel)]="userProfile.profileImg"></textarea>
                <span class="material-symbols-rounded comment btn btn-sm btn-light btn-rounded p-2"
                    (click)="updatePictureModal(profile)" style="margin-left: 5em;">
                    edit
                </span>
            </div>
            <div class="friends-mobile">
                <div class="d-flex" style="margin-left: 2em;"
                    [ngStyle]="{'margin-top': friends.length == 0 ? '5em' : '1em'}">
                    <div *ngFor="let friend of friends | slice:0:5;">
                        <button class="btn btn-rounded p-0" style="margin-left: -2.5em;"
                            [title]="friend.friend.firstName + ' ' + friend.friend.lastName">
                            <img (click)="userProfileRedirect(friend)"
                                [src]="friend.friend.profileImg == '' ? '' : friend.friend.profileImg"
                                style="border-radius: 50%; width: 7em; height: 7em;">
                        </button>
                    </div>
                    <button class="btn btn-rounded p-0" style="margin-left: -2.5em;" *ngIf="friends.length > 5">
                        <button routerLink="/friend-requests"
                            style="border-radius: 50%; width: 6em; height: 6em; font-weight: bolder; font-size: larger;"
                            class="border border-none bg-light text-secondary">
                            + {{ friends.length - 5 }}
                        </button>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container-lg">
        <div class="friends-mobile" style="margin-top: 14em;">
            <app-profile-content></app-profile-content>
        </div>

        <div class="friends-desktop" style="margin-top: 8em;">
            <app-profile-content></app-profile-content>
        </div>
    </div>
</div>


<!-- Edit background picture Modal -->
<ng-template #background let-modal>
    <div class="modal-body">
        <div class="d-flex justify-content-center align-items-center">
            <img [src]="userProfile.backgroundImg" id="postimage" class="img-fluid rounded">
        </div>
        <div class="container-fluid d-flex flex-nowrap p-1">
            <button class="btn btn-info w-100 m-1" onclick="openWidget('imageuri', 'postimage')">Edit</button>
            <button class="btn btn-success w-100 m-1" (click)="updateBackgroundPic(); modal.dismiss()">Save</button>
        </div>
        <button type="button" class="btn btn-success w-100 m-1" (click)="postBackgroundPic(); modal.dismiss()">Save & Post</button>
        <button type="button" class="btn btn-light w-100 m-1" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>
<!-- Edit profile picture Modal -->
<ng-template #profile let-modal>
    <div class="modal-body">
        <div class="d-flex justify-content-center align-items-center">
            <img [src]="userProfile.profileImg" id="profileimage" style="border-radius: 50%; width: 7em; height: 7em;"
                class="img-fluid border border-4 material-symbols-rounded p-0 m-3">
        </div>
        <div class="container-fluid d-flex flex-nowrap p-1">
            <button class="btn btn-info w-100 m-1" onclick="openWidget('imageuri2', 'profileimage')">Edit</button>
            <button class="btn btn-success w-100 m-1" (click)="updateProfilePic(); modal.dismiss()">Save</button>
        </div>
        <button type="button" class="btn btn-success w-100 m-1" (click)="postProfilePic(); modal.dismiss()">Save & Post</button>
        <button type="button" class="btn btn-light w-100 m-1" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>