<app-navbar></app-navbar>
<div class="container-fluid p-0 m-0"
    style="position: relative; background-image: linear-gradient(#0274d87b, whitesmoke);">
    <img class="container landscape img-fluid rounded mx-auto d-block border border-rounded p-0 m-0"
        src="https://res.cloudinary.com/dwzhlnnwa/image/upload/v1668719619/townsquare/kz5lb65naamuxf5i5dr5.jpg">

    <div class="container-fluid p-0 m-0" style="position: absolute; top: 75%;">
        <div class="container">
            <img routerLink="/profile"
                src="http://res.cloudinary.com/dwzhlnnwa/image/upload/v1668199100/townsquare/w7vc1wkpdhuf1gvqtn7d.jpg"
                alt="" style="border-radius: 50%; max-width: 7em;"
                class="img-fluid border border-4 material-symbols-rounded p-0 m-3">
            <div class="container-fluid p-0 m-0" style="position: absolute; top: 75%;">

                <span class="material-symbols-rounded btn btn-sm btn-light btn-rounded p-2" style="margin-left: 5em;">
                    edit
                </span>

            </div>

        </div>
    </div>
</div>